.image{
  filter:blur(3px);
   top: 50px;
 
}  
.bix{
  background-image:url(try1.jpg);
  background-color: pink;
  padding: 140px 450px;
  position: absolute;
  width:125;
  height:150;
  top: 50%;
  left: 625;
  transform: translate(-50%, -50%);
}
.sticky{
  overflow: hidden;
  background-color: #333;
  opacity:0.4 ;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left:0;

}
.sticky a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sticky a:hover {
  background-color: #ddd;
  color: black;
}

.sticky a.active {
  background-color: #4CAF50;
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    /*background-color:whitesmoke;*/
    opacity:0.7 ;
  }
  
  
  
   /*ul li {
    float: left;
    }/*
  
     /*li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    margin:0px;
    text-decoration: none;
  }*/
  
  /*li a:hover {
    background-color:orange ;
  } */    
  
  
  /* SEARCH*/             
  .search{
    float: right;
  }
     .search input[type=text] {
    
      padding: 6px;
      margin-top: 4px;
      border: none;
      font-size: 17px;
    }
    .search button{
      float: right;
      padding: 6px;
      margin-top: 3px;
      font-size: 17px;
    }
    .box{
        
        
        background-repeat: no-repeat;
        padding:200px 350px;
        /*width:480px;
        height:250px;*/
        position: absolute;
        top: 100;
        left: 110;
      }
      .pic{
        background-color:black;
        background-repeat: no-repeat;
        /*padding:110px 80px;*/
        /*width:480px;
        height:250px;*/
        position: absolute;
        top: 70;
        left: 150;
       }
       .content{
        background-color:whitesmoke;
        background-repeat: no-repeat;
        height:310;
        width:520;
        text-align: center;
       /* padding:92px 200px;*/
        /*width:480px;
        height:250px;*/
        position: absolute;
        top: 0;
        left: 200;
       }
       .content h1{
         font-family: 'Times New Roman', Times, serif;
         font-size: 25;
         color:black;
         text-align: top;
       }
       .content p{
         text-align: left;
         font-size: 15;
         margin-left:0px ;
       }
      
  
  
  
    
    