.image{
  filter:blur(3px);
   top: 50px;
 
}  
.bix{
  background-image:url(try1.jpg);
  background-color: pink;
  padding: 555px 450px;
  position: absolute;
  width:125;
  height:300;
  top: 130%;
  left: 625;
  transform: translate(-50%, -50%);
}
.sticky{
  overflow: hidden;
  background-color: #333;
  opacity:0.4 ;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left:0;

}
.sticky a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sticky a:hover {
  background-color: #ddd;
  color: black;
}

.sticky a.active {
  background-color: #4CAF50;
  color: white;
}
 .box1{
  background-image: url(books1.jpg);
  background-color: pink;
  background-repeat: no-repeat;
  padding:150px 350px;
  /*width:480px;
  height:250px;*/
  position: absolute;
  top: 100;
  left: 165;
}
.box2{
  object-fit: cover;
  background-repeat: no-repeat;
  background-color: darkorange;
  /*padding:30px 170px;*/
  position: absolute;
  top:530;
  left:160;
}

.box3{
  /*background-image: url(theatre.jpg);*/
  background-repeat: no-repeat;
  background-color:darkred;
  /*padding:130px 175px;*/
  position: absolute;
  top:530;
  left:540;
}
.box4{
  background-color:orange;
  /*opacity:0.5 ;*/
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20;
  background-repeat: no-repeat;
  padding:10px 15px;
  height:230;
  width:650;
  position: absolute;
  top: 1030;
  left: 180;
}
/*TO DISPLAY IN STRAIGHT LINE*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /*background-color:whitesmoke;*/
  opacity:0.7 ;
}



 /*ul li {
  float: left;
  }/*

   /*li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  margin:0px;
  text-decoration: none;
}*/

/*li a:hover {
  background-color:orange ;
} */    


/* SEARCH*/             
.search{
  float: right;
}
   .search input[type=text] {
  
    padding: 6px;
    margin-top: 4px;
    border: none;
    font-size: 17px;
  }
  .search button{
    float: right;
    padding: 6px;
    margin-top: 3px;
    font-size: 17px;
  }
  



  
  